## Due to numerous connection problems with DB2 cloud, I runned queries on SQL Server.
### Sql Server Management Studio (SSMS) is the tool used and it offers the option of redirecting query results in files and display them

## Task 1

#### Display the names of the unique launch sites in the space mission

In [ ]:
SELECT DISTINCT launch_site FROM Fspacex

--
--#1 Display the names of the unique launch sites in the space mission
SELECT DISTINCT launch_site FROM Fspacex;
--
launch_site
--------------------------------------------------
CCAFS LC-40
CCAFS SLC-40
KSC LC-39A
VAFB SLC-4E

(4 rows affected)

### Task 2

#### Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
SELECT top 5 * FROM Fspacex WHERE launch_site LIKE 'CCA%'

--
--#2 Display 5 records where launch sites begin with the string 'CCA'
SELECT top 5 * FROM Fspacex WHERE launch_site LIKE 'CCA%'
--
Date       Time_UTC         Booster_Version                                    Launch_Site                                        Payload                                                                                              PAYLOAD_MASS_KG Orbit                                              Customer                                                                                             Mission_Outcome                                    Landing_Outcome
---------- ---------------- -------------------------------------------------- -------------------------------------------------- ---------------------------------------------------------------------------------------------------- --------------- -------------------------------------------------- ---------------------------------------------------------------------------------------------------- -------------------------------------------------- --------------------------------------------------
2010-04-06 18:45:00.0000000 F9 v1.0  B0003                                     CCAFS LC-40                                        Dragon Spacecraft Qualification Unit                                                                 0               LEO                                                SpaceX                                                                                               Success                                            Failure (parachute)
2010-08-12 15:43:00.0000000 F9 v1.0  B0004                                     CCAFS LC-40                                        Dragon demo flight C1, two CubeSats, barrel of Brouere cheese                                        0               LEO (ISS)                                          NASA (COTS) NRO                                                                                      Success                                            Failure (parachute)
2012-05-22 07:44:00.0000000 F9 v1.0  B0005                                     CCAFS LC-40                                        Dragon demo flight C2                                                                                525             LEO (ISS)                                          NASA (COTS)                                                                                          Success                                            No attempt
2012-08-10 00:35:00.0000000 F9 v1.0  B0006                                     CCAFS LC-40                                        SpaceX CRS-1                                                                                         500             LEO (ISS)                                          NASA (CRS)                                                                                           Success                                            No attempt
2013-01-03 15:10:00.0000000 F9 v1.0  B0007                                     CCAFS LC-40                                        SpaceX CRS-2                                                                                         677             LEO (ISS)                                          NASA (CRS)                                                                                           Success                                            No attempt

(5 rows affected)

### Task 3

#### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
SELECT SUM(payload_mass_kg) TOTAL_MASS FROM Fspacex WHERE payload LIKE '%CRS%'

--
--#3 Display the total payload mass carried by boosters launched by NASA (CRS)
  SELECT SUM(payload_mass_kg) TOTAL_MASS FROM Fspacex WHERE payload LIKE '%CRS%';
--
TOTAL_MASS
-----------
111268

(1 row affected)

### Task 4

#### Display average payload mass carried by booster version F9 v1.1

In [ ]:
SELECT AVG(payload_mass_kg) AVG_MASS FROM Fspacex WHERE booster_version LIKE '%F9 v1.1%'

--
---#4 Display average payload mass carried by booster version F9 v1.1
  SELECT AVG(payload_mass_kg) AVG_MASS FROM Fspacex WHERE booster_version LIKE '%F9 v1.1%';
--
AVG_MASS
-----------
2534

(1 row affected)

### Task 5

#### List the date when the first successful landing outcome in ground pad was acheived

In [ ]:
SELECT MIN(date) FROM Fspacex WHERE mission_outcome LIKE 'Success%'

--
--#5 List the date when the first successful landing outcome in ground pad was acheived.
  SELECT MIN(date) FIRST_SUCCESS FROM Fspacex WHERE mission_outcome LIKE 'Success%';
--
FIRST_SUCCESS
-------------
2010-04-06

(1 row affected)

### Task 6

#### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
SELECT booster_version FROM Fspacex WHERE landing_outcome LIKE '%Success (drone ship)%' AND payload_mass_kg > 4000 and payload_mass_kg < 6000

--
--#6 List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000
SELECT booster_version FROM Fspacex WHERE landing_outcome LIKE '%Success (drone ship)%' AND payload_mass_kg > 4000 and payload_mass_kg < 6000;
--
booster_version
--------------------------------------------------
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

(4 rows affected)

### Task 7

#### List the total number of successful and failure mission outcomes

In [ ]:
SELECT COUNT(*) SUCCESS FROM Fspacex WHERE mission_outcome LIKE '%Success%'

In [ ]:
SELECT COUNT(*) FAILURE FROM Fspacex WHERE mission_outcome LIKE '%Failure%'

--
--#7 List the total number of successful and failure mission outcomes
SELECT COUNT(*) SUCCESS FROM Fspacex WHERE mission_outcome LIKE '%Success%'
SELECT COUNT(*) FAILURE FROM Fspacex WHERE mission_outcome LIKE '%Failure%'
--
SUCCESS
-----------
100

(1 row affected)

FAILURE
-----------
1

(1 row affected)

### Task 8

#### List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
SELECT booster_version FROM Fspacex WHERE payload_mass_kg = (SELECT MAX(payload_mass_kg) FROM Fspacex)

--
--#8 List the names of the booster_versions which have carried the maximum payload mass. Use a subquery
SELECT booster_version FROM Fspacex WHERE payload_mass_kg = (SELECT MAX(payload_mass_kg) FROM Fspacex);
--
booster_version
--------------------------------------------------
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2 
F9 B5 B1058.3 
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7 

(12 rows affected)

### Task 9

#### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [ ]:
SELECT date, landing_outcome, booster_version, launch_site FROM Fspacex WHERE landing_outcome LIKE '%Failure (drone ship)%' AND YEAR(DATE) =2015

--
--#9 List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015
SELECT date, landing_outcome, booster_version, launch_site FROM Fspacex WHERE landing_outcome LIKE '%Failure (drone ship)%' AND YEAR(DATE) = 2015;
--
date       landing_outcome                                    booster_version                                    launch_site
---------- -------------------------------------------------- -------------------------------------------------- --------------------------------------------------
2015-10-01 Failure (drone ship)                               F9 v1.1 B1012                                      CCAFS LC-40
2015-04-14 Failure (drone ship)                               F9 v1.1 B1015                                      CCAFS LC-40

(2 rows affected)

### Task 10

#### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [ ]:
SELECT landing_outcome, COUNT(*) AS counts FROM Fspacex WHERE date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY landing_outcome ORDER BY counts DESC

--
--#10 Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order
--
SELECT landing_outcome, COUNT(*) AS counts FROM Fspacex WHERE date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY landing_outcome ORDER BY counts DESC;
--
landing_outcome                                    counts
-------------------------------------------------- -----------
No attempt                                         10
Failure (drone ship)                               5
Success (drone ship)                               5
Success (ground pad)                               5
Controlled (ocean)                                 3
Uncontrolled (ocean)                               2
Failure (parachute)                                1
Precluded (drone ship)                             1

(8 rows affected)